<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_owner.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha512-59oxERSDGj1eMzmFW3acSaBHEMNi2GaeQC7nQYcTqM0vgcnavi4BpUhLkcJQE2G6fdtn8JVj7brt0EZuBV0ogQ==" crossorigin="anonymous"></script>
    {% if title %}
    <title>Accommodation - {{ title }}</title>
    {% else %}
    <title>Accommodation</title>
    {% endif %}
</head>

<body>
    {% include 'owner/navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% include 'owner/sidebar.html' %}
            </div>
            <div class="col-md-6">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>