{% extends "owner/layout.html" %}
{% block content %}
<div class="content-section">
	<div id="msg">
	</div>
	<h1>Sign In</h1>
	<form id="login">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" id="username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" required>
        </div>

		<div class="form-row align-items-center">
			<div class="col-md-3">
				<button type="button" class="btn btn-primary btn-block" onclick="Login()">Submit</button>
			</div>
			<div class="col-md-9">
				<span class="text-muted">
					Need An Account? <a href="{{ url_for('owner.register') }}">Sign Up</a>
				</span>
			</div>
		</div>	
	</form>
</div>
<script src="/static/owner.js"></script>
{% endblock content %}
