<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	<a class="navbar-brand mr-4" href="{{ url_for('owner.home') }}">Accommodation</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
		aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarToggle">
		<div class="navbar-nav mr-auto">
			<a class="nav-item nav-link" href="{{url_for('owner.home')}}">Home</a>
		</div>
		<!-- Navbar Right Side -->
		<div class="navbar-nav">
			{% if current_user.is_authenticated %}
				{% if current_user.role_id == 3 %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ current_user.username }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{url_for('owner.profile')}}">Hồ sơ</a>
						<a class="dropdown-item" href="{{url_for('owner.changepassword')}}">Đổi mật khẩu</a>
					</div>
				</li>
				{% endif %}
				<a class="nav-item nav-link" href="{{ url_for('owner.logout') }}">Đăng xuất</a>
			{% else %}
				<a class="nav-item nav-link" href="{{ url_for('owner.login') }}">Đăng nhập</a>
				<a class="nav-item nav-link" href="{{ url_for('owner.register') }}">Đăng ký</a>
			{% endif %}
		</div>
	</div>
</nav>