{% extends "layout.html" %}
{% block content %}
<div class="content-section">
	<h1>Sign Up</h1>
	<form>
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" id="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" id="password">
		</div>
		<div class="form-group">
			<label>Re-password</label>
			<input type="password" class="form-control" id="check_password">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" id="email">
		</div>
		<div class="form-group">
			<label>Fullname</label>
			<input type="text" class="form-control" id="fullname">
		</div>
		<div class="form-group">
			<label>Identity number</label>
			<input type="text" class="form-control" id="identity_number">
		</div>
		<div class="form-group">
			<label>Phone number</label>
			<input type="text" class="form-control" id="phone_number">
		</div>
		<div class="form-group">
			<label>City</label>
			<select class="form-control" id="city"></select>
		</div>
		<div class="form-group">
			<label>District</label>
			<select class="form-control" id="district"></select>
		</div>		
		<div class="form-group">
			<label>Ward</label>
			<select class="form-control" id="ward"></select>
		</div>
	
	</form>
</div>
<div class="border-top pt-3">
	<small class="text-muted">
		Have An Account? <a href="{{ url_for('owner.login') }}" class="ml-2">Sign In</a>
	</small>
</div>
<script src="/static/search.js"></script>
{% endblock content %}
