{% if current_user.is_authenticated %}
<div class="content-section">
    <h3>Menu</h3>
    <p class='text-muted'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">
                <a href="{{ url_for('owner.profile') }}">Hồ sơ người dùng</span></a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="{{ url_for('owner.route_list_room') }}">Danh sách bài đăng</a>
             </li>
             <li class="list-group-item list-group-item-light">
                <a href="{{ url_for('owner.create_new_room') }}">Tạo bài đăng mới</a>
             </li>
            <li class="list-group-item list-group-item-light">
               <a href="{{ url_for('owner.notification') }}">Thông báo <span class="badge badge-primary" id="new_noti">0</span></a>
            </li>
                
            <li class="list-group-item list-group-item-light">
                <a href="{{ url_for('chat.index') }}">Nhắn tin <span class="badge badge-primary" id="new_msg">0</span></a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="{{ url_for('owner.changepassword') }}">Đổi mật khẩu</span></a>
            </li>
        </ul>
    </p>
</div>
<script src="{{ url_for('static', filename='counter.js') }}"></script>
<script>socket.emit("get new noti");</script>
<script>socket.emit("get new msg");</script>
{% endif %}