{% extends "owner/layout.html" %}
{% block content %}
<div class="content-section">
    <div id="msg"></div>
    <h1>Sửa bài đăng</h1>
    <form id="room_form">
        <div class="form-group">
            <label class="col-form-label" for="title">Tiêu đề</label>
            <input class="form-control form-control-lg" id="title" name="title" required type="text" value="{{post.title}}">
        </div>
        <div class="form-group">
            <label class="col-form-label" for="info">Mô tả phòng trọ</label>
            <input class="form-control form-control-lg" id="info" name="info" required type="text" value="{{post.room.info}}">
            
        </div>
        <div class="form-group">
            <label class="col-form-label" for="info">Diện tích</label>
            <input class="form-control form-control-lg" id="dien_tich" name="dien_tich" required type="number" value="{{post.room.dien_tich}}">
        </div>
        
        <div class="form-group">
            <label class="form-control-label" for="room_type">Loại phòng</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select form-control-lg" name="room_type_id" id="room_type_id">
                        <option value=1 {%if post.room.room_type_id == 1%}selected{%endif%} >Phòng trọ</option>
                        <option value=2 {%if post.room.room_type_id == 2%}selected{%endif%} >Chung cư mini</option>
                        <option value=3 {%if post.room.room_type_id == 3%}selected{%endif%} >Nhà nguyên căn</option>
                        <option value=4 {%if post.room.room_type_id == 4%}selected{%endif%} >Chung cư nguyên căn</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="room_number">Số phòng</label>
            <input class="form-control form-control-lg" id="room_number" name="room_number" required type="number" value="{{post.room.room_number}}">
        </div>
        
        <div class="form-group">
            <label class="col-form-label" for="price">Giá thuê</label>
            <input class="form-control form-control-lg" id="price" name="price" required type="number" value="{{post.room.price}}">
            
        </div>

        <div class="form-check-label">
            <input class="form-check-inline " id="chung_chu" name="chung_chu" type="checkbox" {% if post.room.chung_chu %} checked {% endif %}>
            <label class="form-check-label mr-2" for="chung_chu">Chung chủ</label>
            <input class="form-check-inline" id="nong_lanh" name="nong_lanh" type="checkbox" {% if post.room.nong_lanh %} checked {% endif %}>
            <label class="form-check-label mr-2" for="nong_lanh">Có bình nóng lạnh</label> 
            <input class="form-check-inline" id="dieu_hoa" name="dieu_hoa" type="checkbox" {% if post.room.dieu_hoa %} checked {% endif %}>
            <label class="form-check-label mr-2" for="dieu_hoa">Có điều hòa</label> 
            <input class="form-check-inline " id="ban_cong" name="ban_cong" type="checkbox" {% if post.room.ban_cong %} checked {% endif %}>
            <label class="form-check-label mr-2" for="ban_cong">Có ban công</label> 
        </div>

        <div class="form-group">
            <label class="col-form-label" for="phong_tam">Số phòng tắm</label>
            <input class="form-control form-control-lg" id="phong_tam" name="phong_tam" required type="number" value="{{post.room.phong_tam}}">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="loai_phong_tam">Mô tả phòng tắm</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select form-control-lg" name="loai_phong_tam" id="loai_phong_tam">
                        <option value=1{%if post.room.loai_phong_tam == 1%}selected{%endif%} >Phòng tắm khép kín</option>
                        <option value=2{%if post.room.loai_phong_tam == 2%}selected{%endif%} >Phòng tắm chung</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="phong_bep">Số phòng bếp</label>
            <input class="form-control form-control-lg" id="phong_bep" name="phong_bep" required type="number" value="{{post.room.phong_bep}}">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="loai_phong_bep">Mô tả phòng bếp</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select form-control-lg" name="loai_phong_bep" id="loai_phong_bep">
                        <option value=1 {%if post.room.loai_phong_bep == 1%}selected{%endif%} >Khu bếp riêng</option>
                        <option value=2 {%if post.room.loai_phong_bep == 2%}selected{%endif%} >Khu bếp chung</option>
                        <option value=3 {%if post.room.loai_phong_bep == 3%}selected{%endif%} >Không nấu ăn</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="gia_dien">Giá điện</label>
            <input class="form-control form-control-lg" id="gia_dien" name="gia_dien" placeholder="VND/số" required type="number" value="{{post.room.gia_dien}}">
            
        </div>
        <div class="form-group">
            <label class="col-form-label" for="gia_nuoc">Giá nước</label>
            <input class="form-control form-control-lg" id="gia_nuoc" name="gia_nuoc" placeholder="VND/khối" required type="number" value="{{post.room.gia_nuoc}}">
            
        </div>
        <div class="form-group">
            <label class="col-form-label" for="tien_ich_khac">Tiện ích khác</label>
            <input class="form-control form-control-lg" id="tien_ich_khac" name="tien_ich_khac" required type="text" value="{{post.room.tien_ich_khac}}">
            
        </div>
        <button type="button" class="btn btn-primary btn-block" onclick="update_post('{{ post.id }}')">Submit</button>
    </form>
</div>
<script src="/static/room.js"></script>
{% endblock content %}