{% extends "admin_home.html" %}

{% block navigation %}
<div class="card text-center mb-2">
    <div class="card-header">
        <ul id="navigation" class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a id="post" class="nav-link" href="{{ url_for('posts.post') }}">Post</a>
            </li>
            <li class="nav-item">
                <a id="room" class="nav-link" href="{{ url_for('posts.room') }}">Room</a>
            </li>
            <li class="nav-item">
                <a id="user" class="nav-link" href="{{ url_for('admin.manage_user') }}">User</a>
            </li>
            <li class="nav-item">
                <a id="statistics" class="nav-link" href="{{ url_for('admin.statistics') }}">Statistics</a>
            </li>
            <li class="nav-item">
                <a id="comment" class="nav-link active" href="{{ url_for('admin.confirm_comment') }}">Confirm Comment</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block info %}
    <h1>Confirm Comment</h1>

    <nav class="navbar-collapse navbar-light bg-light mb-3">
        <form action="" class="form-inline">
            <input id="searchname" class="form-control mr-sm-2" name="post_id" type="search" placeholder="Search/ post-id" aria-label="Search" onchange="validateInput(event)">
            <input id="search-user-name" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" onclick="validateInput(event)">
        </form>
    </nav>

    {% for comment in comments %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.user.image_file) }}" alt="image of author">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ comment.user.username}}</a>
                    <small class="text-muted"> Status: {{ comment.status }}</small>
                    {% if comment.status != 1 %}
                        <a id="acceptcomment" class="btn btn-success btn-sm mt-1 mb-1 ml-1" onclick="acceptComment(this, '{{ comment.id }}')">Accept</a>
                    {% else %}
                        <a id="acceptcomment" class="btn btn-success btn-sm mt-1 mb-1 ml-1 nodisplay" onclick="acceptComment(this, '{{ comment.id }}')">Accept</a>
                    {% endif %}
                    
                    <a id="rejectcomment" class="btn btn-danger btn-sm mt-1 mb-1 ml-1" onclick="rejectComment(this, '{{ comment.id }}')">Reject</a>
                    
                </div>
                <h4><a class="article-title" href="">ID User: {{ comment.user.id }} -- Username: {{ comment.user.username }}</a></h4>
                <h4><a class="article-title" href="{{ url_for('posts.view_post', post_id=comment.post.id) }}">ID Post: {{ comment.post.id }} -- Post Title: {{ comment.post.title }}</a></h4>
                <h4>Content: {{ comment.comment_content }}</h4>
                <p>Created at: {{ comment.date_created.strftime('%Y-%m-%d') }}</p>
                <p class="article-content"> Role: {{ comment.user.roles.name }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock %}

{% block task %}
    <br>
{% endblock task %}