{% extends "admin_home.html" %}

{% block navigation %}
<div class="card text-center mb-2">
    <div class="card-header">
        <ul id="navigation" class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a id="post" class="nav-link" href="{{ url_for('posts.post') }}" >Post</a>
            </li>
            <li class="nav-item">
                <a id="room" class="nav-link" href="{{ url_for('posts.room') }}" >Room</a>
            </li>
            <li class="nav-item">
                <a id="user" class="nav-link active" href="{{ url_for('admin.manage_user') }}">User</a>
            </li>
            <li class="nav-item">
                <a id="statistics" class="nav-link" href="{{ url_for('admin.statistics') }}">Statistics</a>
            </li>
            <li class="nav-item">
                <a id="comment" class="nav-link" href="#">Confirm Comment</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block info %}
    <h1>Manage User Page</h1>
    <ul class="droplinemenu">
        <li>
            <a href="{{ url_for('admin.manage_user', rolename='user') }}">User</a>
        </li>
        <li>
            <a href="{{ url_for('admin.manage_user', rolename='owner') }}">Owner</a>
        </li>
        <li>
            <a href="{{ url_for('admin.manage_user', rolename='admin') }}">Admin</a>
        </li>
    </ul>

    <nav class="navbar-collapse navbar-light bg-light mb-3">
        <form action="{{ url_for('admin.find_user') }}" class="form-inline">
            <input id="searchname" class="form-control mr-sm-2" name="searchname" type="search" placeholder="Search/ username" aria-label="Search" onchange="validateInput(event)">
            <input id="search-user-name" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" onclick="validateInput(event)">
        </form>
    </nav>    
        
    {% for user in users.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="image of author">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ user.username}}</a>
                    <small class="text-muted"> Status: {{ user.confirms.name }}</small>
                    {% if user.status_confirm != 1 %}
                        <a id="acceptuser" class="btn btn-success btn-sm mt-1 mb-1 ml-1" onclick="acceptOwner(this, '{{ user.id }}')">Accept</a>
                    {% else %}
                        <a id="acceptuser" class="btn btn-success btn-sm mt-1 mb-1 ml-1 nodisplay" onclick="acceptOwner(this, '{{ user.id }}')">Accept</a>
                    {% endif %}
                    {% if user.role_id != 1 %}
                        <a id="rejectuser" class="btn btn-danger btn-sm mt-1 mb-1 ml-1" onclick="rejectOwner(this, '{{ user.id }}')">REJECT/BAN</a>
                    {% endif %}
                </div>
                <h2><a class="article-title" href="#">{{ user.email }}</a></h2>
                <h3>ID: {{user.id}}</h3>
                <p class="article-content"> Role: {{ user.roles.name }}</p>
            </div>
        </article>
    {% endfor %}
    
    {% for page_num in users.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=3 ) %}
        {% if searchname %}
            {% if page_num %}
                {% if users.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('admin.find_user', searchname=searchname, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('admin.find_user', searchname=searchname, page=page_num) }}">{{ page_num }}</a>
                {% endif %}    
            {% else %}
                ...
            {% endif %}
        {% endif %}
        
    {% endfor %}

{% endblock info %}

{% block task %}
    <br>
{% endblock task %}