{% extends "admin/statistic.html" %}
{% block statisticschart %}
<input type="hidden" name="hidden-x-label" id="hidden-x-label" value="{{ ans.xLabel }}">
<input type="hidden" name="hidden-y-label" id="hidden-y-label" value="{{ ans.yLabel }}">
<input type="hidden" name="hidden-data" id="hidden-data" value="{{ ans.data_cost_room }}">
<input type="hidden" name="hidden-x-length" id="hidden-x-length" value="{{ ans.xLength }}">
<canvas id="myChart"></canvas> 
<br>
<input type="hidden" name="hidden-x1-label" id="hidden-x1-label" value="{{ ans.xLabel1 }}">
<input type="hidden" name="hidden-y1-label" id="hidden-y1-label" value="{{ ans.yLabel1 }}">
<input type="hidden" name="hidden-data-x1" id="hidden-data-x1" value="{{ ans.data_x_1 }}">
<input type="hidden" name="hidden-data-y1" id="hidden-data-y1" value="{{ ans.data_y_1 }}">
<canvas id="myChart1"></canvas> 
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var ctx1 = document.getElementById('myChart1').getContext('2d');
    // Global Options
    // Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    var xlabel = document.getElementById("hidden-x-label").value;
    var ylabel = document.getElementById("hidden-y-label").value;
    var data_cost_room = document.getElementById("hidden-data").value;
    var xLength = document.getElementById("hidden-x-length").value;
    data_cost_room = data_cost_room.slice(1,data_cost_room.length-1).split(", ")
    var xArr = new Array();
    for(let i = 0; i < xLength; i++) {
        xArr[i] = (i+1) + " triệu";
    }

    console.log(xlabel, " ", ylabel, " ", data_cost_room, " ", xLength);
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea

        // The data for our dataset
        data: {
            labels: xArr,
            datasets: [{
                label: 'Statistic cost room',
                
                backgroundColor: 'rgb(189,183,107)',
                borderWidth: 3,
                borderColor: 'rgb(0,99,132)',
                hoverBorderWidth: 5,
                hoverBorderColor: '#000',
                data: data_cost_room
            }]
        },

        // Configuration options go here
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: xlabel
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: ylabel
                    },
                    ticks: {
                        min: 0
                    }
                }]
            }
        }
    });

    var xlabel1 = document.getElementById("hidden-x1-label").value;
    var ylabel1 = document.getElementById("hidden-y1-label").value;
    var data_x_1 = document.getElementById("hidden-data-x1").value;
    var data_y_1 = document.getElementById("hidden-data-y1").value;
    data_x_1 = data_x_1.slice(1,data_x_1.length-1).split(", ");
    data_y_1 = data_y_1.slice(1,data_y_1.length-1).split(", ");
    for (let i = 0; i < data_x_1.length; i++) {
        data_x_1[i] = data_x_1[i].slice(1, data_x_1[i].length-1);
    }
    for (let j = 0; j < data_y_1.length; j++) {
        data_y_1[j] = parseInt(data_y_1[j])
    }
    var chart1 = new Chart(ctx1, {
        // The type of chart we want to create
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea

        // The data for our dataset
        data: {
            labels: data_x_1,
            datasets: [{
                label: 'Statistic room in the city',
                
                backgroundColor: 'rgb(119,136,153)',
                borderWidth: 3,
                borderColor: 'rgb(0,99,132)',
                hoverBorderWidth: 5,
                hoverBorderColor: '#000',
                minBarLength: 2,
                data: data_y_1
            }]
        },

        // Configuration options go here
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: xlabel1
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: ylabel1
                    },
                    ticks: {
                        min: 0
                    }
                }]
            }
        }
    });
</script>
{% endblock %}