*{
  margin:0px;
  padding: 0px;
}
#nav-bar{
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar{
  background-image: linear-gradient(to right,white, rgb(122, 145, 107));
  padding:0 !important;
}

.navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse{
  flex-grow: 0;
}
.navbar-brand img{
  height: 60px;
  padding-left: 20px;

}


.navbar-nav li{
  padding-left: 0 10px;
}

.navbar-nav a{
  color: #fff !important;
  font-weight: 600;
}

.fa-bars{
  color:#fff !important;
  font-size: 30px !important;

}

.navbar-toggler{
  outline: none !important;
}

#avatar{
  width: 60px; 
  height: 60px;
}

section.search{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.clear{
    flex-basis: 100%;
    height: 0;
}
/* Style the defualt page nav bar */

.input-group{
  width: 45rem;
}

.search-button{
  background-color: transparent;
  background-repeat: no-repeat;
}


/* Style the Detailed bar */

.search-detail{
  width: 100%;
  height: calc( 100vh - 64px);
  display: flex;
  position: relative;
}

/* Style the filter search div */
.basic-search{
  position: absolute;
  top:70px;
  width: 60%;
  height: 100%;
}

.search-filter{
  width: 100%;
  height: auto;
  padding-left: 20px;
}

.detail-search{
  border-left: 0.5px solid black;
  border-bottom: 0.2px solid black;
  width: 40%;
  height: auto;
  position: fixed;
  right: 0px;
  
  top:0px;
  bottom : 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding : 6rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.filter-container{
  width: 100%;
  height: auto;
}
.filter-container form{
  display: flex;
  flex-wrap: wrap;
}

input, select{
  width: 7rem;
  height: 2rem;
  padding: 3px;
  margin: 0.2rem;
  border-radius: 0.5rem;
}

button{
  width: 7rem;
  height: 2rem;
  padding: 3px;
  margin: 0.2rem;
  border-radius: 0.5rem;
}
/* Style the Room result page */


/* .result-page{
  height: auto;
  width: 100%;
  background-color: #eee;
} */


.room-card{
  display: flex;
  height: 20rem;
  width: 100%;
  max-width: 100%;
  padding:5rem;
  margin: 1.5rem 0rem;
  box-shadow:  0 1.4rem 8rem rgba(0,0,0,0.2);
  align-items: center;
  border-radius: .6rem;
}

.room-card-img{
max-width: 24rem;
min-width: 24rem;
height: 21rem;
transform: translateX(-4rem);
}


.room-card-img #mySlides{
width: 100%;
height: 100%;
display: none;
border-radius: 0.6rem;
object-fit: cover;
}

.room-card-img #mySLides::before{
content: "";
width: 100%;
height: 100%;
position: absolute;
top:0;
left:0;
background:.5rem .5rem 3rem 1px rgba(0,0,0,0.05);
border-radius: 0.6rem;
}

#mySlides img{
width: 100%;
height: 100%;
display: block;
border-radius: 0.6rem;
object-fit: cover;
}

#mySlides img::before{
content: "";
width: 100%;
height: 100%;
position: absolute;
top:0;
left:0;
background:.5rem .5rem 3rem 1px rgba(0,0,0,0.05);
border-radius: 0.6rem;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color:#eee;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.no-display{
  display: none;
}

/* Style the Detail Room */
/* Detail room picture slider */

.room-card-img.detail{
  max-width: 30rem;
  min-width: 30rem;
  height: 15rem;
  align-self: center;
}

/* Style the comment section */
.user_comment{
  width: 100%;
}
.user_comment .rating-stars input{
  width: 100%;
}

.rating-stars{
  width: 100%;
  height: 3rem;
  display: inline;
}

.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1rem; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.far {
  color:#9b1338;
}

/* Style the dialog modal */
.m-dialog {
}

    .m-dialog .dialog-modal {
        opacity:.5;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        z-index: 999;
    }

    .m-dialog .dialog-content {
        background-color: #ffffff;
        z-index: 1000;
        border-radius: 5px;
    }

    .m-dialog .dialog-header {
        display: flex;
        padding: 24px 24px 0px 24px;
        cursor: move;
    }

        .m-dialog .dialog-header .dialog-header-close{
            position: absolute;
            right: 0;
            top: 0;
        }

            .m-dialog .dialog-header .dialog-header-close:hover {
                border-radius: 5px;
            }

            .m-dialog .dialog-header .dialog-header-close button {
                width: 40px;
                height: 40px;
                border-radius: 0 5px 0 0;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: #ffffff;
                background-image: url('/content/icon/x.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 20px;
                opacity:.7;
            }

                .m-dialog .dialog-header .dialog-header-close button:hover {
                    background-color: #ccc;
                }

/*Tiêu đề của dialog*/

        .m-dialog .dialog-header .dialog-header-title{
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

.dialog-content .dialog-body {
    padding: 0px 24px 24px;
}


.dialog-footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #e9ebee;
    border-radius: 0 0 5px 5px;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 24px;
    box-sizing: border-box;
}

.dialog-footer button{
    margin-left:16px;
}

.m-col .el-avatar-customer .m-flex-1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-search .room-card{
  width: 100%;
  height: auto;
  flex-direction: column;
}
.nono-display{
  display: none;
}

@media screen and (max-width: 1280px) {
  .detail-search{
    display: none;
  }
  .result-page{
    width: 100%;
  }
  .room-card{
    width: 100%;
    flex-direction: column;
    max-width: 100rem;
    height: auto;
  }

  .room-card-img{
    transform: translateX(0);
    transform: translateY(-4rem);
  }
  .basic-search{
    width: 100%;
    height: 100%;
  }
  .nono-display{
    display: block;
  }
}



.js-hiddenform{
  display: none;
  width: 20rem;
}

@media screen and (max-width: 1000px){
  img#avatar{
      display: none;
  }
}