<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accommodation - About</title>
</head>

<body>
    <h1>this is about page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem provident, eum odio ipsam in illum
        exercitationem nisi eligendi sint quo ab cumque excepturi similique soluta voluptate fuga quaerat accusantium
        beatae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur fugit optio ipsum excepturi deleniti
        nesciunt necessitatibus veritatis placeat repellendus culpa.</p>
</body>

</html>