{% extends "layout.html" %}
{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
{% endblock %}

{% block admin_header %}
    {% if current_user.role_id == 1 %}
        <a class="nav-item nav-link" href="#">
            <button type="button" class="btn btn-info mr-3">Notifications <span class="badge badge-secondary">4</span></button>
        </a>
        <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
        <a class="nav-item nav-link" href="{{ url_for('admin.account') }}">Account</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>admin home Page</h1>
    {% block navigation %}
    <div class="card text-center mb-2">
        <div class="card-header">
            <ul id="navigation" class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a id="post" class="nav-link" href="{{ url_for('posts.post') }}">Post</a>
                </li>
                <li class="nav-item">
                    <a id="room" class="nav-link" href="{{ url_for('posts.room') }}">Room</a>
                </li>
                <li class="nav-item">
                    <a id="user" class="nav-link" href="{{ url_for('admin.manage_user') }}">User</a>
                </li>
                <li class="nav-item">
                    <a id="statistics" class="nav-link" href="#">Statistics</a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}

    <div id="blockinfo">
        {% block info %}
        {% endblock %}
    </div>
    
    {% block task %}
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ad labore numquam quaerat, molestias vero eos vel nobis nisi deleniti dicta optio placeat aspernatur fugiat harum nihil dolorum quis quam!</div>
    {% endblock task %}
{% endblock content %}



{% block sidebar %}
    <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="article-title" href="{{ url_for('posts.new_room') }}">Create New Room</a></li>
                <li class="list-group-item list-group-item-light"><a class="article-title" href="{{ url_for('posts.manage_my_room') }}">Manage My Room</a></li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
        </p>
    </div>   
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='adminscripts.js') }}"></script>
{% endblock %}