{% extends "layout.html" %}
{% block linkcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
{% endblock %}

{% block admin_header %}
    {% if current_user.role_id == 1 %}
        <a class="nav-item nav-link" href="#">
            <button type="button" class="btn btn-info mr-3">Notifications <span class="badge badge-secondary">4</span></button>
        </a>
        <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>admin home Page</h1>
    <div class="card text-center mb-2">
        <div class="card-header">
            <ul id="navigation" class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <span id="post" class="nav-link active" onclick="setClassActive(this);" >Post</span>
                </li>
                <li class="nav-item">
                    <span id="room" class="nav-link" onclick="setClassActive(this);">Room</span>
                </li>
                <li class="nav-item">
                    <span id="user" class="nav-link" onclick="setClassActive(this);">User</span>
                </li>
                <li class="nav-item">
                    <span id="statistics" class="nav-link" onclick="setClassActive(this);">Statistics</span>
                </li>
            </ul>
        </div>
    </div>

    <div id="blockinfo">
        {% block info %}
        {% endblock %}
    </div>
    
    
{% endblock content %}

{% block sidebar %}
    <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
        </p>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='adminscripts.js') }}"></script>
{% endblock %}