<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha512-59oxERSDGj1eMzmFW3acSaBHEMNi2GaeQC7nQYcTqM0vgcnavi4BpUhLkcJQE2G6fdtn8JVj7brt0EZuBV0ogQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='chat.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_owner.css') }}">
  <title>{{ current_user.username }}</title>
</head>
<body>
  {% if current_user.role_id == 3 %}
    {% include 'owner/navbar.html' %}
  {% endif %}

  {% if current_user.role_id == 1 %}
    {% include 'admin/navbar.html' %}
  {% endif %}
<div class="container">
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input list="users" class="search-bar" placeholder="Search" id="search-box">
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="hidden" id="receiver" value="">
              <input type="text" class="write_msg" id="msg-box" placeholder="Type a message" />
              <button class="msg_send_btn" type="button" onclick="Send()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div></div>
    <script src="{{ url_for('static', filename='counter.js')}}"></script>
    <script src="{{ url_for('static', filename='notification.js') }}"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <script>socket.emit("load list people");</script>
    {% if current_user.role_id == 1 %}
    <script>socket.emit("get new admin noti");</script>
    {% endif %}
    {% if current_user.role_id == 3 %}
    <script>socket.emit("get new noti");</script>
    {% endif %}
  </body>
</html>