.max-height-content-section {
    max-height: 500px;
    overflow: auto;
}


ul.droplinemenu {
    font-size: 25px;
	position: relative;
	background: #2f8d9a;
	padding-top: 5px;
    padding-bottom:5px;
    border-radius: 3px;
    height: 50px;
}

ul.droplinemenu > li {
	display: inline;
	padding: 5px 10px;
	list-style-type: none;
	cursor:pointer;
}

ul.droplinemenu li a {
    text-decoration: none;
    color: white;
}

ul.droplinemenu li>a:hover {
    color: red;
}

div.card-header > ul#navigation li.nav-item span {
    cursor: pointer;
}

.mrgleft-2 {
    margin-left: -2px;
}