.max-height-content-section {
    max-height: 650px;
    overflow: auto;
}


ul.droplinemenu {
    font-size: 25px;
    position: relative;
    background: #2f8d9a;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    height: 50px;
}

ul.droplinemenu > li {
    display: inline;
    padding: 5px 10px;
    list-style-type: none;
    cursor: pointer;
}

ul.droplinemenu li a {
    text-decoration: none;
    color: white;
}

ul.droplinemenu li>a:hover {
    color: red;
}

div.card-header>ul#navigation li.nav-item span {
    cursor: pointer;
}

.mrgleft-2 {
    margin-left: -2px;
}

/*--------------------- img room -------------------------*/
.room-image {
    position: relative;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    transition: all .4s;
}

.room-image:hover {
    z-index: 1;
    transform: scale(1.2);
    cursor: pointer;
}

.room-image:active {
    transform: scale(2.5);
    cursor: pointer;
    z-index: 1;
}

/*---------------------autocomplete---------------------------*/
.input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}