{% extends "admin_home.html" %}
{% block navigation %}
<div class="card text-center mb-2">
    <div class="card-header">
        <ul id="navigation" class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a id="post" class="nav-link active" href="{{ url_for('posts.post') }}">Post</a>
            </li>
            <li class="nav-item">
                <a id="room" class="nav-link" href="#">Room</a>
            </li>
            <li class="nav-item">
                <a id="user" class="nav-link" href="{{ url_for('admin.manage_user') }}">User</a>
            </li>
            <li class="nav-item">
                <a id="statistics" class="nav-link" href="#">Statistics</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}



{% block info %}
    <h1>Manage Post</h1>
    {% for post in posts %}
        <article class="media content-section max-height-content-section">
            <img class="rounded-circle article-img" src="#" alt="image of author">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <small id="post" class="text-muted mr-1">{{ post.pending }}</small>
                    {% if post.pending == False %}
                    <a id="accept" class="btn btn-success btn-sm mt-1 mb-1" onclick="Accept(this, '{{post.id}}')">Accept</a>
                    {% endif %}
                    <a id="reject" class="btn btn-warning btn-sm mt-1 mb-1" onclick="Reject(this, '{{post.id}}')">Reject</a>
                    <!-- button better/ modal -->
                    <a id="details" class="btn btn-info btn-sm my-1" href="{{ url_for('posts.view_post', post_id=post.id) }}">Details</a>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.update_post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <span>{{post.id}}</span>
                <p class="article-content">{{ post.content }}</p>
                <p class="article-content"> <u>Date created</u> : {{ post.date_created }} and <u>Date posted</u> : {{ post.date_posted }}</p>
                <p class="article-content"> <u>Out of date &lt;may be&gt;</u> : {{ post.date_out }}</p>
                <p class="article-content">{{ post.author.email }}</p>
                
            </div>
        </article>
    {% endfor %}
{% endblock info %}