{% extends "admin_home.html" %}
{% block navigation %}
<div class="card text-center mb-2">
    <div class="card-header">
        <ul id="navigation" class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a id="post" class="nav-link" href="{{ url_for('posts.post') }}">Post</a>
            </li>
            <li class="nav-item">
                <a id="room" class="nav-link active" href="{{ url_for('posts.room') }}">Room</a>
            </li>
            <li class="nav-item">
                <a id="user" class="nav-link" href="{{ url_for('admin.manage_user') }}">User</a>
            </li>
            <li class="nav-item">
                <a id="statistics" class="nav-link" href="#">Statistics</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


{% block info %}
    <h1>Manage Room</h1>
    {% for room in rooms %}
        <article class="media content-section max-height-content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + room.user.image_file) }}" alt="image of author">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ room.user.username }}</a>
                    <small id="room" class="text-muted mr-1">{{ room.pending }}</small>
                    <a id="details" class="btn btn-info btn-sm my-1" href="{{ url_for('posts.view_room', room_id=room.id) }}">Details</a>
                </div>
                <h2><a class="article-title" href="#">{{ room.user.email }}</a></h2>
                {% if room.user.owner %}
                    <span>SDT owner: {{ room.user.owner[0].phone_number }}</span> <br>
                {% endif %}
                <span id="room_id" style="display: none;">{{ room.id }}</span>
                <span>Ma phong: {{room.id}}</span> 
                <p class="article-content"> Thành phố {{ room.city.name }} -- Quan {{ room.district.name }} --  Khu vuc {{ room.ward.name }}</p>
                <p class="article-content">Thong tin phong: {{ room.info }}</p>
                <p class="article-content"> Kieu phong: {{ room.roomtype.name }} -- So phong: {{ room.room_number }}</p>
                <p class="article-content"> Gia dien:{{ room.gia_dien }} -- Gia nuoc: {{ room.gia_nuoc }}</p>
                <span id="room_image" style="display: none;" >{{ room.image }}</span>
                <div id="image">
                    
                </div>
                {% if room.tien_ich_khac %}
                    <p>tien ich khac: {{ room.tien_ich_khac }}</p>
                {% endif %}
                <p>bla bla ...</p>
                <span><em>Status: {{ room.pending }}</em></span>
            </div>
        </article>
    {% endfor %}
{% endblock info %}

{% block task %}
    <br>
{% endblock task %}

{% block script %}
    <script src="{{ url_for('static', filename='adminscripts.js') }}"></script>
    <script src="{{ url_for('static', filename='admin_loadimage.js') }}"></script>
{% endblock %}