{% extends "admin_home.html" %}
{% block info %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + room.user.image_file) }}" alt="image of author">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ room.user.username }}</a>
                <small id="room" class="text-muted mr-1">{{ room.status }}</small>
                <!-- button better/ modal -->
                <a href="{{ url_for('posts.update_room', room_id=room.id) }}">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Update
                </button> </a>
            </div>
            <h2><a class="article-title" href=>{{ room.user.email }}</a></h2>
            <span id="room_id" style="display: none;">{{ room.id }}</span>
            <span>Mã phòng: {{room.id}}</span>
            <p class="article-content"> Thành phố {{ room.city.name }} -- Quận {{ room.district.name }} --  Khu vực {{ room.ward.name }}</p>
            <p class="article-content">Thông tin phòng: {{ room.info }} -- Giá: {{ room.price }} (VNĐ)</p>
            <p class="article-content">Kiểu phòng: {{ room.roomtype.name }} -- Số phòng: {{ room.room_number }} (phòng)</p>
            <p class="article-content">Số phòng tắm: {{ room.phong_tam }} (phòng) -- Số phòng bếp: {{ room.phong_bep }} (phòng)</p>
            <p class="article-content"> Giá điện: {{ room.gia_dien }} VNĐ/số -- Giá nước: {{ room.gia_nuoc }} VNĐ/khối</p>
            <span id="room_image" style="display: none;" >{{ room.image }}</span> 
            <div id="image"></div>
            {% if room.tien_ich_khac %}
                <p>Tiện ích khác: {{ room.tien_ich_khac }}</p>
            {% endif %}
            <div>
                <span class="mr-2"> Chung chủ: {% if room.chung_chu %} Có {% else %} Không {% endif %} </span>
                <span class="mr-2"> Nóng lạnh: {% if room.nong_lanh %} Có {% else %} Không {% endif %} </span> 
                <span class="mr-2"> Điều hòa: {% if room.dieu_hoa %} Có {% else %} Không {% endif %} </span>
                <span> Ban công: {% if room.ban_cong %} Có {% else %} Không {% endif %} </span>
            </div>
            <span><em>Status: {{ room.status }}</em> {% if room.status %} <u>(Room đã được thuê)</u> {% else %} <u>(Room chưa được thuê)</u> {% endif %} </span>
        </div>
    </article>
{% endblock %}

{% block task %}
    <br>
{% endblock task %}

{% block script %}
    <script src="{{ url_for('static', filename='adminscripts.js') }}"></script>
    <script src="{{ url_for('static', filename='admin_loadimage.js') }}"></script>
{% endblock %}