{% extends "admin_home.html" %}
{% block info %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + room.user.image_file) }}" alt="image of author">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ room.user.username }}</a>
                <small id="room" class="text-muted mr-1">{{ room.pending }}</small>
                <!-- button better/ modal -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Update
                </button>
            </div>
            <h2><a class="article-title" href=>{{ room.user.email }}</a></h2>
            <span id="room_id" style="display: none;">{{ room.id }}</span>
            <span>Ma phong: {{room.id}}</span>
            <p class="article-content">Thong tin phong: {{ room.info }}</p>
            <p class="article-content"> Thành phố {{ room.city.name }} -- Quan {{ room.district.name }} --  Khu vuc {{ room.ward.name }}</p>
            <p class="article-content"> Kieu phong: {{ room.roomtype.name }} -- So phong: {{ room.room_number }}</p>
            <p class="article-content"> Gia dien:{{ room.gia_dien }} -- Gia nuoc: {{ room.gia_nuoc }}</p>
            <span id="room_image" style="display: none;" >{{ room.image }}</span> 
            <div id="image"></div>
            {% if room.tien_ich_khac %}
                <p>tien ich khac: {{ room.tien_ich_khac }}</p>
            {% endif %}
            <p>bla bla ...</p>
            <span><em>Status: {{ room.pending }}</em></span>
        </div>
    </article>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Are u sure about that?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block task %}
    <br>
{% endblock task %}

{% block script %}
    <script src="{{ url_for('static', filename='adminscripts.js') }}"></script>
    <script src="{{ url_for('static', filename='admin_loadimage.js') }}"></script>
{% endblock %}