{% extends "admin_home.html" %}
{% block info %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="image of author">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author.username }}</a>
                <small id="post" class="text-muted mr-1">{{ post.pending }}</small>
                {% if post.pending == False %}
                <a id="accept" class="btn btn-success btn-sm mt-1 mb-1" onclick="Accept(this, '{{post.id}}')">Accept</a>
                {% endif %}
                <a id="reject" class="btn btn-warning btn-sm mt-1 mb-1" onclick="Reject(this, '{{post.id}}')">Reject</a>
                <!-- button better/ modal -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Delete
                </button>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.update_post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <span>Post_id: {{post.id}}</span> <br> <span>Room_Of_Post: {{post.room.id}}</span> 
            <a style="text-decoration: none; color:#66CDAA" href="{{ url_for('posts.view_room', room_id=post.room.id) }}">Information about Room</a>
            <p class="article-content">Số lượt xem: {{ post.count_view }}</p>
            <p class="article-content">{{ post.content }}</p>
            <p class="article-content"> <u>Date created</u> : {{ post.date_created }} and <u>Date posted</u> : {{ post.date_posted }}</p>
            <p class="article-content"> <u>Out of date &lt;may be&gt;</u> : {{ post.date_out }}</p>
            <p class="article-content">{{ post.author.email }}</p>
            <hr>
            {% for comment in post.comments %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.user.image_file) }}" alt="image of author">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ comment.user.username}}</a>
                            <small class="text-muted">{{ comment.date_created.strftime('%Y-%m-%d') }}</small>
                        </div>
                        <p>{{ comment.comment_content }}</p>
                    </div>
                </article>   
            {% endfor %}
        </div>
    </article>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Are u sure about that?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block task %}
    <br>
{% endblock task %}