<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='./renter/css/page/searchDetail.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='./renter/css/component/jquery.ui.min.css')}}">
    {% if title %}
    <title>Accommodation - {{ title }}</title>
    {% else %}
    <title>Accommodation</title>
    {% endif %}
  
</head>
<body>
  <section id='nav-bar'>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a target="_self" class="navbar-brand" href="{{url_for('main.home')}}"><img src="{{ url_for('static', filename='./renter/resource/image/1054_1343847082_103.png') }}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">                
          <ul class="navbar-nav  ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('owner.home')}}">Become Host?</a>
            </li>
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.login')}}" >Login</a>
            </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.logout')}}" >Logout</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('renter.getFavoritePost',username = current_user.username)}}">{{current_user.username}}</a>
              </li>
              {%endif%}
            </ul>
            {%if current_user.is_authenticated%}
            <img src="{{ url_for('static', filename='./renter/resource/image/pexels-photo-4786270.jpeg') }}" id = "avatar">
            {%endif%}
          </div>
        </div>
      </nav>
</section>
    <section class="search-detail">
        <div class="basic-search">
          <div class="result-page">
            {% for like in posts.items%}
              <div class="room-card" id="{{like.post.room.id}}">
                <div class="room-card-img" id="{{loop.index}}">
                  <p style="display: none;" id="{{like.post.room.image}}"></p>
                  <a class="prev" onclick = "minusSlide(-1,{{loop.index-1}})">&#10094;</a>
                  <a class="next" onclick = "plusSlides(1,{{loop.index-1}})">&#10095;</a>
                  </div>
              {%include 'userRoomCard.html'%}
            </div>
            {%endfor%}

          {%for page_num in posts.iter_pages()%}
            {%if page_num%}
              {%if page_num==1%}
                {%if  posts.page == page_num %}
                <a href="" class="btn btn-info mb4 pagi" id={{page_num}} style="margin-left:20px ;">{{page_num}}</a>
                {%else%}
                <a href="" class="btn btn-outline-info mb4 pagi" id={{page_num}} style="margin-left:20px ;">{{page_num}}</a>
                {%endif%}
              {%else%}
                {%if posts.page == page_num%}
                <a href="" class="btn btn-info mb4 pagi" id={{page_num}}>{{page_num}}</a>
                {%else%}
                <a href="" class="btn btn-outline-info mb4 pagi" id={{page_num}}>{{page_num}}</a>
                {%endif%}
              {%endif%}
            {%endif%}
          {%endfor%} 
          </div>
        </div>
        <div class="detail-search">
          
          {%if current_user.is_authenticated%}
          <div class="user_comment no-display" id="{{current_user.id}}">
            <div class="alert alert-warning alert-dismissible fade show no-display" role="alert">
              <strong> Đã ghi nhận phản hồi ! </strong>Đang chờ xét duyệt của admin.
              <button type="button" id="comment_span" class="btn-close" style="position: relative; display:flex; align-items: center; justify-content: center; width: 2rem;height: 2rem;" data-bs-dismiss="alert" aria-label="Close">
                <span >
                  <i class="far fa-window-close"></i>
                </span>
              </button>
            </div>
            <div class='rating-stars'>
              <span>Bạn yêu thích căn phòng này ?</span>
              <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                  <i class="far fa-heart"></i>
                </li>
              </ul>
              <input id ="user_comment" type="text" required placeholder="Leave your comment">
              <input type="submit" id="submit_comment">
            </div>
            <div class="post_comment">
            </div>
          </div>
          {%else%}
          <div class="comment">
            <p style="margin:0px;">Login to comment?</p>
          </div>
          {%endif%}
        </div>
    </section>
    <div class="m-dialog dialog-detail" title="Thông tin khách hàng" style="display: none">
      <!--<div class="dialog-modal"> Class = Expand de bat dialog</div>-->
      <div class="dialog-content">
          <div class="dialog-body">
              <div class="m-row m-flex">
                  <div class="m-col el-avatar-customer m-flex-1">  
                  </div>
              </div>
          </div>
      </div>
    </div>
</body>
<scrip src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></scrip>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='./renter/js/searchResult.js')}}"></script>
</html>

