<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='./renter/css/page/searchDetail.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='./renter/css/component/jquery.ui.min.css')}}">
    {% if title %}
    <title>Accommodation - {{ title }}</title>
    {% else %}
    <title>Accommodation</title>
    {% endif %}
  
</head>
<body>
  <section id='nav-bar'>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <p class="no-display location-holder">{{city.code}},{{district.id}},{{street.id}}</p>
          <a target="_self" class="navbar-brand" href="{{url_for('main.home')}}"><img src="{{ url_for('static', filename='./renter/resource/image/1054_1343847082_103.png') }}"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" onclick="openNav()"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">               
          <ul class="navbar-nav  ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('owner.home')}}">Become Host?</a>
            </li>
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.login')}}" >Login</a>
            </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.logout')}}" >Logout</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="">{{current_user.username}}</a>
              </li>
              {%endif%}
            </ul>
            {%if current_user.is_authenticated%}
            <img src="{{ url_for('static', filename='./renter/resource/image/pexels-photo-4786270.jpeg') }}" id = "avatar">
            {%endif%}
          </div>
        </div>
      </nav>
</section>
    <section class="search-detail">
        <div class="basic-search">
          <div class="search-filter">
            <span id="numberOfRooms"style="margin-top:5px">Số kết quả: {{rooms.query.count()}}</span>
            {% if rooms.query.count() == 0%}
            <h2>Không tìm được phòng còn khả dụng!</h2>
            {%endif%}
            <h3>Chỗ ở đẹp tại {%if street%}{{street.name}},{%endif%} {%if district%}{{district.name}},{%endif%} {{city.name}}</h3>
            <br>
            <div class="filter-container">
              <form action="#" id="submit_form" class="filter" method="POST"> 
                <div >
                <span style="display: block;">Giá </span>
                <select class="Price" name="Price" id="Price">
                  <option value="">Tất cả khoảng giá</option>
                  <option value="0 - 1 triệu">0 - 1 triệu</option>
                  <option value="1-3 triệu">1-3 triệu</option>
                  <option value="3-5 triệu">3-5 triệu</option>
                  <option value="5-10 triệu">5-10 triệu</option>
                  <option value="10-15 triệu">10-15 triệu</option>
                  <option value="Hơn 15 triệu">Hơn 15 triệu</option>
                </select>
              </div>
              
              <div >
                <span style="display: block;">Diện tích </span>
                <input type="text" placeholder="Diện tích(m2)" name="area">
              </div>
              <div >
                <span style="display: block;">Loại Phòng </span>
                <select class = "roomType" name="roomType" id="roomType">
                  <option value="">Tất cả loại phòng</option>
                  <option value="1" id="1">Phòng trọ</option>
                  <option value="2" id="2">Chung cư mini</option>
                  <option value="3" id="3">Nhà nguyên căn</option>
                  <option value="4" id="4">Chung cư nguyên căn</option>
                </select>
              </div>
              <div class="clear"></div>
              <div >
                <button type="submit" form="submit_form">
                  <span>Go!</span>
                </button>
              </div>
              <div >
                <button class="js-expand" type="button">
                  <span>More filter?</span>
                </button>
              </div>
              <div class="clear"></div>
              <div class="js-hiddenform">
                
            </form>
            <div class="room_and_bed">
              <h5>Phòng Tắm và Phòng Bếp</h5>
              <div class="kitchen" style="position: relative;">
                <p>Phòng Bếp</p>
              
                <p>Loại Phòng Bếp</p>
                <select name="kitchenRoomType" style="height:30px;width:10rem;position: absolute; top:35px;right: 10px;" id="">
                  <option value="">Tất cả loại phòng bếp</option>
                  <option value="1">Khu bếp riêng</option>
                  <option value="2">Khu bếp chung</option>
                  <option value="3">Không nấu ăn</option>
                </select>
                <div >
                  <input min="0" name="numberOfKitchenRoom"placeholder="0" type="number" id="bedroom"  style="height:30px;width:10rem;position: absolute; top:0px;right: 10px;"></input>
                </div>
                
              </div>
              <div class="bathroom" style="position: relative;">
                <p>Phòng Tắm</p>
                
                <p>Loại Phòng Tắm</p>
                <select name="bathRoomType" style="height:30px;width:10rem;position: absolute; top:35px;right: 10px;" id="">
                  <option value="">Tất cả loại phòng tắm</option>
                  <option value="1">Khép kín</option>
                  <option value="2">Chung</option>
                </select>
                <div >
                  <input name="numberOfBathRoom"  placeholder="0" min="0" style="height:30px;width:10rem;position: absolute; top:0px;right: 10px;" type="number" id="bedroom"></input>
                </div>
                
              </div>
            </div>
            <div class="Facilities">
              <h5>Cơ sở vật chất</h5>
              <div  style="position: relative; display: flex;">
                <p>Điều hòa</p>
                <input name="dieu_hoa" class="dieu_hoa" type="checkbox" style="position: absolute; top:0px ;right: 10px;">
              </div>
              <div  style="position: relative;display: flex;">
                <p>Bình nóng lạnh</p>
                <input name ="nong_lanh"class="nonglanh" type="checkbox" style="position: absolute;right: 10px;">
              </div>
              <div style="position: relative;display: flex;">
                <p>Chung chủ</p>
                <input name="host" class="host" type="checkbox" style="position: absolute;right: 10px;">
              </div>
            </div>
            </div>
            <br>
            
          </div>
          </div>
          <div class="result-page">
            {% for room in rooms.items%}
              <div class="room-card" id="{{room.id}}">
                <div class="room-card-img" id="{{loop.index}}">
                  <p style="display: none;" id="{{room.image}}"></p>
                  <a class="prev" onclick = "minusSlide(-1,{{loop.index-1}})">&#10094;</a>
                  <a class="next" onclick = "plusSlides(1,{{loop.index-1}})">&#10095;</a>
                  </div>
              {%include 'roomCard.html'%}
            </div>
            {%endfor%}

          {%for page_num in rooms.iter_pages()%}
            {%if page_num%}
              {%if page_num == 1%}
              <a href="{{ url_for('renter.search', city=city.code, district=district.id, street=street.id, page=page_num)}}" class="btn btn-outline-info mb4" style="margin-left: 20px;">{{page_num}}</a>
              {%else%}
              <a href="{{ url_for('renter.search', city=city.code, district=district.id, street=street.id, page=page_num)}} " class="btn btn-outline-info mb4">{{page_num}}</a>
              {%endif%}
            {%else%}
            ...
            {%endif%}
          {%endfor%} 
          </div>
        </div>
        <div class="detail-search">
          
          {%if current_user.is_authenticated%}
          <div class="user_comment no-display" id="{{current_user.id}}">
            <div class='rating-stars'>
              <span>Bạn yêu thích căn phòng này ?</span>
              <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                  <i class="far fa-heart"></i>
                </li>
              </ul>
              <input id ="user_comment" type="text" placeholder="Leave your comment">
              <input type="submit" id="submit_comment">
            </div>
            <div class="post_comment">
            </div>
          </div>
          {%else%}
          <div class="comment">
            <p style="margin:0px;">Login to comment?</p>
          </div>
          {%endif%}
        </div>
    </section>
    <div class="m-dialog dialog-detail" title="Thông tin khách hàng" style="display: none">
      <!--<div class="dialog-modal"> Class = Expand de bat dialog</div>-->
      <div class="dialog-content">
          <div class="dialog-body">
              <div class="m-row m-flex">
                  <div class="m-col el-avatar-customer m-flex-1">
                    <form action="{{ url_for('renter.search', city=city.code, district=district.id, street=street.id)}}" id="submit_form" method="POST">
                      <div class="room_and_bed">
                        <h5>Phòng Tắm và Phòng Bếp</h5>
                        <div class="bedroom" style="position: relative;">
                          <p>Phòng Bếp</p>
                          <button type = "button" class="bedminus" style="height:30px;width:30px;position: absolute; top:0px;right: 60px;">
                            <span>-</span>
                          </button>
                          <div style="display:flex; justify-content: center; align-items: center ;height:30px;width:30px;position: absolute; top:0px;right: 38px;">
                            <span id="bedroom">0</span>
                          </div>
                          <button type = "button" class="bedbonus" style="height:30px;width:30px;position: absolute; top:0px;right: 10px;">
                           <span>+</span>
                          </button>
                        </div>
                        <div class="bathroom" style="position: relative;">
                          <p>Phòng Tắm</p>
                          <button class="bathminus"type = "button" style="height:30px;width:30px;position: absolute; top:0px;right: 60px;">
                            <span>-</span>
                          </button>
                          <div style="display:flex; justify-content: center; align-items: center ;height:30px;width:30px;position: absolute; top:0px;right: 38px;">
                            <span id="bathroom">0</span>
                          </div>
                          <button class="bathbonus" type = "button" style="height:30px;width:30px;position: absolute; top:0px;right: 10px;">
                            <span>+</span>
                          </button>
                        </div>
                      </div>
                      <div class="Facilities">
                        <h5>Cơ sở vật chất</h5>
                        <div  style="position: relative; display: flex;">
                          <p>Điều hòa</p>
                          <input class="dieu_hoa" type="checkbox" style="position: absolute; top:0px ;right: 10px;">
                        </div>
                        <div  style="position: relative;display: flex;">
                          <p>Bình nóng lạnh</p>
                          <input class="nonglanh" type="checkbox" style="position: absolute;right: 10px;">
                        </div>
                        <div style="position: relative;display: flex;">
                          <p>Chung chủ</p>
                          <input class="host" type="checkbox" style="position: absolute;right: 10px;">
                        </div>
                      </div>
                  </div>
                  <div class="dialog-footer">
                      <button type="button"  id="btnCancel" class="m-btn m-btn-default m-btn-cancel">Hủy</button>
                      <button type = "submit" name="submit_form" id="btnSave" class="m-btn m-btn-default"><i class="far fa-save"></i><span class="btn-text">Lưu</span></button>
                  </div>
                </form>
             </div>
          </div>
        </div>
    </div>
</body>

<scrip src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></scrip>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='./renter/js/searchResult.js')}}"></script>
</html>

