<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='./renter/css/page/searchPage.css')}}">
    {% if title %}
    <title>Accommodation - {{ title }}</title>
    {% else %}
    <title>Accommodation</title>
    {% endif %}
  
</head>
<body>
    <section id='nav-bar'>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a target="blank" class="navbar-brand" href="{{url_for('main.home')}}"><img src="{{ url_for('static', filename='./renter/resource/image/1054_1343847082_103.png') }}"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" onclick="openNav()"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">               
              <ul class="navbar-nav  ml-auto">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('admin.login')}}" >Login</a>
                </li>
                {%else%}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('admin.logout')}}" >Logout</a>
                </li>
                {%endif%}
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('owner.home')}}">Become Host?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">{{current_user.username}}</a>
                  </li>
                </ul>
                <img src="{{ url_for('static', filename='./renter/resource/image/pexels-photo-4786270.jpeg') }}" id = "avatar">
              </div>
            </div>
          </nav>
    </section>
    <section id='banner'>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-centered">
              <p class="promo-title">Find your sweet Home</p>
            </div>
            <div class="col-md-12">
              <form class="input-group" action="" method="POST">
                <div class="input-group-prepend">
                  <button class="search-button">
                   <i class="fas fa-search"></i>
                  </button>
                   {{form.submit(class="btn-outline-info text-center")}}
                </div>
                  {{ form.city(class="form-control city", id="city")}}
                  {{ form.district(class="form-control district", id="district")}}
                  {{ form.street(class="form-control street",  id="street")}}
              </form>
            </div>
          </div>
        </div>
    </section>
    <section class="big-city">
      <div class="containers">
        <h5 class="section-head">
          <span class="heading">
            Explore
          </span>
          <span class="sub-heading">
            The Big City
          </span>
        </h5>
        <div class="grids">
          <div class="grids-item featured-city">
            <img src="{{ url_for('static', filename='./renter/resource/image/Hanoi_City.jpeg') }}"alt="Hanoi City" class="city-img">
            <h5 class="city-name">Hanoi</h5>
            <a href="{{url_for('renter.searchByCity', city='HN')}}" class="btn btn-gradient">Find now!
            <span class="search-button"><i class="fas fa-search"></i></span></a>
         </div>
          <div class="grids-item featured-city">
            <img src="{{ url_for('static', filename='./renter/resource/image/HCM_city.jpeg') }}" alt="HCM City" class="city-img">
            <h5 class="city-name">Ho Chi Minh</h5>
            <a href="{{url_for('renter.searchByCity', city='SG')}}" class="btn btn-gradient">Find now!
            <span class="search-button"><i class="fas fa-search"></i></span></a>
         </div>
          <div class="grids-item featured-city">
            <img src="{{ url_for('static', filename='./renter/resource/image/DN_City.png') }}" alt="DN City" class="city-img">
            <h5 class="city-name">Da Nang</h5>
            <a href="{{url_for('renter.searchByCity', city= 'DDN')}}" class="btn btn-gradient">Find now!
            <span class="search-button"><i class="fas fa-search"></i></span></a>
        </div>
      </div>
      
    </section>
    <section class="trusted-host">
      <div class="containers">
        <h5 class="section-head">
          <span class="host-heading">
            Our Best Host
          </span>
        </h5>
    </section>
    <section class="footer"></section>
</body>
<scrip src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></scrip>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='renter/js/roomFrontPage.js') }}"></script>
</html>

