
{%if room.post%}
  {% if room.post[0].date_out >= dateTime%}
    <div class="room-info">
      <h3 class="room-title">{{room.post[0].title}}</h3> 
      
      <h5>Số lượt thích: {{room.post[0].getLike()}}</h5>
      <p class="room-detail">
        Vị trí : {{room.getLocation()}}.</br>
        Cơ sở vật chất: {{room.phong_tam}} phòng tắm - {{room.phong_bep}} phòng bếp
        {% if room.ban_cong %}- Có ban công {%endif%}
        {%if room.chung_chu%}- Chung chủ {%endif%}
      </p>
      <p class="post-content nono-display">
        Số lượt xem: {{room.post[0].count_view}}  
        </br>
        {{room.post[0].content}}
      </p>
    </div>
    {%for comment in room.post[0].getAllComment() %}
    <div class="cmt nono-display" style="padding-left:10px; margin-top:10px;width: 100%;height: 5rem; border-radius:0.5rem; border:0.8px solid">
      <p>Comment By: {{comment.username}}</p>
      <p>{{comment.content}}</p>
    </div>
    
    {%endfor%}
    {%endif%}
  {%endif%}